body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: #6e83df;
    height: 70px;
}

.sidenav {
    height: 100%; 
    width: 160px;
    position: fixed; 
    z-index: 1;
    top: 70px; 
    left: 0;
    background-color: rgb(66, 77, 238); 
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #070404;
    display: block;
    cursor: pointer;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.main {
    margin-left: 160px; 
    padding: 0px 10px;
}